<p style="text-align:center"><strong>രജിസ്ട്രേഷൻ ആവർത്തിക്കാൻ അഭ്യർത്ഥിക്കുന്നു</strong></p>

<hr />
<h4 style="color: #2e6c80; text-align: justify;"><span style="color: #000000;">പഠിതാക്കൾ രജിസ്ട്രേഷൻ സമയത്ത് നൽകിയിരിക്കുന്ന വിശദാംശങ്ങളിൽ അല്ലെങ്കിൽ അറ്റാച്ച് ചെയ്ത്  ഫോട്ടോ മുതലായവകളിൽ എന്തെങ്കിലും പിഴവ് സംഭവിച്ചിട്ടുണ്ടെങ്കിലാണ്
 രജിസ്ട്രേഷൻ ആവർത്തിക്കാൻ  നിർബന്ധിതരാകുന്നത്. ഇത് ആപ്ലിക്കേഷൻ ഓട്ടോമാറ്റിക് ആയോ അല്ലെങ്കിൽ സിം ഓഫീസിൽ നിന്നും അപാകതകൾ കണ്ടതിൻ പേരിലാകാം.
<hr />
താഴെക്കാണുന്ന ബട്ടൺ ക്ലിക്ക് ചെയ്തു   രജിസ്ട്രേഷൻ കോഡ് സിം ഓഫീസിൽനിന്നും അഭ്യർത്ഥിക്കാവുന്നതാണ്. പഠിതാക്കൾ ഇപ്പോൾ ഉപയോഗിക്കുന്ന യൂസർ നെയിമിൽ ഉള്ള മൊബൈൽ നമ്പർ വെച്ചായിരിക്കണം രജിസ്ട്രേഷൻ ആ വർത്തിക്കേണ്ടത്.
 </span></h4>
<hr />
<iframe width="100%" height="345" src="https://www.youtube.com/embed/Bfr3z3xF9Zo">
</iframe>